h1{
    color: rgb(31, 17, 160);
    text-align: center;
    font-size: 40px;
    background-color: rgb(193, 194, 245);
    text-shadow: 0 8px 8px black;
}
h1:hover{
    background-color: rgb(198, 198, 236);
}
p{
    font-size: large;
    font-weight: bold;
    font-style: italic;
}
img{
    width: 270px;
    height: 270px;
    border-radius: 10px;
}
a{
    background-color: blueviolet;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    color: brown;
    text-decoration: none;
}
a{
    background-color: black;
}
    

    





    
    