form{
    background-color: rgb(218, 189, 246);
    width: 50%;
    margin: 0 auto;
    padding:30px;
    border-radius: 20px;
    box-shadow: 0 0 8px burlywood;
}

legend{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 0 0 8px rgb(203, 3, 9);
}

label{
    font-size:18px ;
    font-family: sans-serif;
}

input[type=text],input[type=email],input[type=password],input[type=datetime],input[type=numer],
select{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    margin-top: 10px;
}

button{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

body{
    background-image: url('../assets/pic1.png');
    
}

button:hover{
    background-color: rgb(44, 194, 194);
}
