h1{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;

}

#shipping{
color: rgb(106, 158, 10);
font-family: sans-serif;


}

#payment{
    color: rgb(145, 7, 92);
    font-family: sans-serif;
}

.paragraph{
font-style: italic;


}

.paragraph{
font-style: italic;

}

#membership{
background-color: rgb(111, 224, 5);
margin: 40px;
padding: 30px;
border-radius: 10px;

}

#membership:hover{
    background-color: rgb(94, 25, 88);
}




#VIP{
    display: flex;
    margin: 30px;
    gap: 20px;
    background-color: rgb(81, 165, 42);
    border-radius: 20px;
    padding:20px;
}


VIP img{
    border-radius: 20px;
}
VIP :hover{
    display: flex;
}
.shadow{
box-shadow: 0 0 10px black;


}
#nana:hover{

    background-color: black;
}













